.bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "bree serif";
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
}

.heading {
    font-weight: bold;
    font-size: 48px;
    color: #1e293b;
}

.search-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #7b8794;
    padding: 10px;
}

.search-input {
    border: 0px;
    margin-right: 10px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
}

.search-icon {
    width: 32px;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 30px;
}

.app-items-container {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 50px;
    list-style-type: none;
}
  
@media screen and (min-width: 992px) {
    .app-items-container {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .heading {
        font-size: 32px;
    }

    .search-input {
        font-size: 14px;
    }

    .search-icon {
        width: 20px;
    }
}